@keyframes typing {
  from {
    width: 0; }
  to {
    width: 730px; } }

@keyframes blink {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #fff; } }

.menu-btn {
  position: absolute;
  right: 35px;
  top: 35px;
  z-index: 999;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff; }
  .menu-btn:hover .btn-line {
    background: #a00000;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  display: flex;
  top: 0;
  visibility: hidden;
  z-index: 998;
  transform: translate3d(0, 20%, 0);
  opacity: 0;
  transition: all 0.5s ease-out; }
  .menu.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  .menu-left, .menu-right {
    display: flex;
    flex-flow: column wrap;
    float: left;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-left: auto; }
  .menu-left {
    background: rgba(19, 19, 19, 0.9);
    width: calc(100vw - 600px); }
    .menu-left .content {
      font-size: 2em;
      width: 40vw;
      list-style: none; }
      .menu-left .content .menu-item {
        margin-bottom: 1rem; }
  .menu-right {
    background: #131313;
    width: 600px; }
    .menu-right .content {
      width: 325px;
      left: 100px; }
      .menu-right .content .icon-list {
        list-style: none;
        padding-inline-start: 0; }
        .menu-right .content .icon-list .icon {
          float: left;
          margin-right: 8px; }
  .menu a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease-out; }
    .menu a:hover {
      color: #a00000; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

body {
  background-color: #202020;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff; }
  body.bg-image {
    background: url("../img/background_bw.jpg") no-repeat center center, #202020;
    background-size: cover; }
    body.bg-image:after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(32, 32, 32, 0.5);
      z-index: -1; }

/* --- TEXT ---- */
h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

/* --- HOME ---- */
#home {
  top: 0;
  width: 100%;
  height: 95vh; }
  #home .grid-container {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    width: 1150px;
    grid-template-rows: 270px 128px 0 0;
    grid-template-areas: "portrait title-small" "portrait title-large" "line line" "title-lower title-lower"; }
  #home .title-small,
  #home .title-large,
  #home .title-lower {
    margin: 0;
    font-weight: 300;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
  #home .portrait {
    grid-area: portrait;
    width: 400px;
    align-self: end;
    justify-self: end; }
  #home .title-small {
    grid-area: title-small;
    font-size: 64px;
    padding-left: 8px;
    align-self: end;
    justify-self: start; }
  #home .title-large {
    grid-area: title-large;
    font-size: 160px;
    align-self: end;
    justify-self: start;
    color: #a00000;
    font-weight: 600;
    line-height: 1.1;
    filter: drop-shadow(-8px 6px 6px #000); }
  #home .line {
    margin: 0;
    grid-area: line;
    border-top: #fff 5px solid; }
  #home .title-lower {
    grid-area: title-lower;
    padding-top: 8px;
    height: 32px;
    justify-self: center;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.1em;
    font-family: monospace, "Courier New", Courier;
    font-size: 24px;
    border-right: 4px solid #fff;
    animation: typing 4s steps(45, end), blink 1s step-end infinite; }

@media screen and (min-width: 851px) and (max-width: 1250px) {
  #home .grid-container {
    zoom: 0.7; } }

@media screen and (max-width: 850px) {
  #home .grid-container {
    zoom: 0.5; } }

@media screen and (max-width: 600px) {
  #home .grid-container {
    zoom: normal;
    margin: 0;
    width: auto;
    display: grid;
    grid-template-rows: 3.2rem 3rem 300px 0 3rem;
    grid-template-areas: "title-small" "title-large" "portrait" "line" "title-lower"; }
  #home .title-small,
  #home .title-large,
  #home .title-handle,
  #home .line,
  #home .title-lower {
    align-self: start;
    justify-self: center; }
  #home .portrait {
    grid-area: portrait;
    margin: auto auto 0 auto;
    width: 250px; }
  #home .title-small {
    grid-area: title-small;
    font-size: 3rem;
    padding: 0; }
  #home .title-large {
    grid-area: title-large;
    font-size: 5rem;
    color: #a00000;
    font-weight: 600;
    line-height: 1.1;
    filter: drop-shadow(-6px 5px 5px #000); }
  #home .line {
    margin: 0;
    grid-area: line;
    width: 380px;
    border-top: #fff 5px solid; }
  #home .title-lower {
    grid-area: title-lower;
    margin: auto;
    padding-top: 16px;
    width: 380px;
    height: 3.5rem;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: monospace;
    font-size: 1.5rem;
    border-right: none;
    animation: none; } }
