// Widescreens > 1250px
@include mediaXl {
}

// Small screens <= 1264px
@include mediaLg {
  #home {
    .grid-container {
      width: 92vw;
      padding-bottom: 14.4vw;
      grid-template-rows: 22.4vw 9.44vw 5px 3.84vw;
    }

    .portrait {
      width: 32vw;
    }

    .title-small {
      font-size: 5.12vw;
      padding-left: 0.64vw;
    }

    .title-large {
      font-size: 12.8vw;
    }

    .title-lower {
      margin-top: 0.48vw;
      padding-bottom: 0.32vw;
      height: 2.56vw;
      font-size: 1.92vw;
    }
  }

  // Appearing text in home
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 57.6vw;
    }
  }

  #about {
    align-self: flex-end;
    padding: 30px 16px 0 16px;
    width: 110vw;
    max-width: 1250px;
  }

  #work {
    width: 96vw;
  }
}

// Tablets <= 850px
@include mediaMd {
  #home {
    .grid-container {
      width: 92vw;
      padding-bottom: 14.4vw;
      grid-template-rows: 22.4vw 9.44vw 5px 3.84vw;
    }

    .portrait {
      width: 32vw;
    }

    .title-small {
      font-size: 5.12vw;
      padding-left: 0.64vw;
    }

    .title-large {
      font-size: 12.8vw;
    }

    .title-lower {
      margin-top: 4px;
      padding-bottom: 3px;
      height: 22px;
      font-size: 16px;
      border-right: 2px solid set-text-color($primary-color);
    }
  }

  // Appearing text in home
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 490px;
    }
  }

  #about {
    align-self: center;
    padding: 30px 0 0 0;
    width: 96vw;

    .sideimg {
      position: absolute;
      align-self: flex-end;
      right: 0;
      width: 250px;
      margin: 0;
    }

    .content {
      .text-area {
        #education {
          grid-template-areas:
            "title"
            "content1"
            "content2";
          grid-template-columns: 100%;
          grid-template-rows: auto auto auto;
        }

        #p3 {
          margin-right: auto;
          width: 90%;
        }

        .call-to-action,
        #education {
          justify-self: none;
          margin-right: auto;
          width: 70%;
        }

        #education {
          width: 60%;
          h3 {
            justify-self: start;
          }
        }
      }
    }
  }

  #work {
    width: 96vw;
  }
}

// Smartphones <= 600px
@include mediaSm {
  .menu-btn {
    padding: 24px;
  }
  .menu {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 100px;
    grid-template-areas:
      "left"
      "right"
      "bottom";
  }

  #home {
    .grid-container {
      zoom: normal;
      margin: 0;
      width: auto;
      display: grid;
      grid-template-rows: 3.2rem 3rem 300px 0 3rem;
      grid-template-areas:
        "title-small"
        "title-large"
        "portrait"
        "line"
        "title-lower";
    }

    .title-small,
    .title-large,
    .title-handle,
    .line,
    .title-lower {
      align-self: start;
      justify-self: center;
    }

    .portrait {
      grid-area: portrait;
      margin: auto auto 0 auto;
      width: 250px;
    }

    .title-small {
      grid-area: title-small;
      font-size: 3rem;
      padding: 0;
    }

    .title-large {
      grid-area: title-large;
      font-size: 5rem;
      color: $secondary-color;
      font-weight: 600;
      line-height: 1.1;
      filter: drop-shadow(-6px 5px 5px #000);
    }

    .line {
      margin: 0;
      grid-area: line;
      width: 380px;
      border-top: #fff 5px solid;
    }

    .title-lower {
      grid-area: title-lower;
      margin: auto;
      padding-top: 16px;
      width: 380px;
      height: 3.5rem;
      overflow: hidden;
      white-space: normal;
      text-align: center;
      letter-spacing: 0.1em;
      font-family: monospace;
      font-size: 1.5rem;
      border-right: none; //4px solid set-text-color($primary-color);
      animation: none; //typing 4s steps(45, end), blink 1s step-end infinite;
    }
  }

  #about {
    .sideimg {
      width: 200px;
    }

    .content {
      .title {
        font-size: 16vw;
        text-align: center;
      }

      .text-area {
        padding: 6rem 16px 6rem 16px;
      }

      #p3 {
        margin-right: auto;
        width: 100%;
      }

      .call-to-action {
        justify-self: center;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
      }

      #education {
        width: 45%;
      }
    }
  }

  #work {
    width: 96vw;
    h1,
    .text-secondary {
      text-align: center;
      font-size: 5rem;
    }
    h2 {
      text-align: center;
    }
  }
}
